.imagen_post {
  width: 100%;
  height: 600px;
  position: relative;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 100px;
}

.contenido {
  width: 100%;
  max-width: 1060px;
  text-align: justify;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.containers {
  margin: 30px;
}

@media (max-width: 600px) {
  .imagen_post {
    width: 100%;
    height: 400px;
    position: relative;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 100px;
  }

  .contenido {
    margin: 0px;
  }
}
