.card {
  text-align: left;
  width: 100%;
  max-width: 350px;
  float: left;
  margin-right: 1rem;
  margin-left: 2rem;
  margin-top: 5rem;
}

.PosIMG {
  width: 100%;
  max-width: 350px;
  height: 230px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.ArticleSummary h2 {
  font-size: 25px;
  text-align: justify;
}

.ArticleSummary a {
  font-weight: 400;
  text-align: justify;
}

.ArticleSummary p {
  color: #aaa;
  margin-top: 20px;
  text-align: justify;
}

@media (max-width: 680px) {
  .card {
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 2rem;
    width: 100%;
    max-width: 350px;
    text-align: justify;
  }

  .ArticleSummary h2 {
    font-size: 25px;
    text-align: justify;
  }

  .ArticleSummary p {
    font-size: 16px;
  }

  .ArticleSummary a {
    font-weight: 400;
    text-align: justify;
  }
}
