.ArticleMeta {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 400;
}

.tags {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}

.tags li:not(:first-child)::before {
  content: ", ";
}

.readingTime {
  white-space: nowrap;
}

@media (max-width: 768px) {
}
