.Bio {
  display: flex;
  align-items: center;
}

.Bio img {
  border-radius: 50%;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.desc {
  font-size: 12px;
  color: #1c3643;
  margin: 0;
}
