nav {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #eeeeee;
}

.navbarLogo {
  max-width: 1120px;
  width: 90%; /*95%*/
  margin: 0 auto;
  padding: 40px 0;
}

@media (max-width: 480px) {
  .navbarLogo {
    padding-bottom: 20px;
  }
}
