.Links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.link {
  text-align: center;
  display: block;
  padding: 10px 16px;
  margin: 5px 10px;
  font-size: 14px;
  font-weight: 400;
  color: #7b7b7f;
  border-radius: 30px;
}

.link:hover {
  background-color: #ccc;
  color: white;
}
.linkActive,
.linkActive:hover {
  background-color: #ffcb40;
  color: white;
}

.linkAlt,
.linkAlt:hover {
  background-color: #ffcb40;
  color: white;
}

.hero {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero > h1 {
  color: #95ca3e;
  font-size: 60px;
  font-weight: bold;
}

.tags {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.3;
  margin: 30px 0;
  text-align: center;
}

@media (max-width: 992px) {
  .hero {
    height: 250px;
  }
}

@media (max-width: 680px) {
  .Links {
    display: block;
    padding: 10px 5%;
  }
}
