.Links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.link {
  text-align: center;
  display: block;
  padding: 10px 16px;
  margin: 5px 10px;
  font-size: 14px;
  font-weight: 400;
  color: #7b7b7f;
  border-radius: 30px;
}

.link:hover {
  background-color: #ccc;
  color: white;
}

.linkActive,
.linkActive:hover {
  background-color: #ffcb40;
  color: white;
}

.linkAlt,
.linkAlt:hover {
  background-color: #0791e6;
  color: white;
}

.hero {
  position: relative;
  width: 100%;
  height: 40vh;
  background: #eeeeee;
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
  animation: animate 30s linear infinite;
  z-index: 0;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.wave2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
  animation: animate1 10s linear infinite;
  z-index: 0;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.wave3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
  animation: animate 05s linear infinite;
  z-index: 1;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

.wave4 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave.png);
  background-size: 1000px 100px;
  animation: animate1 15s linear infinite;
  z-index: 2;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate1 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

.hero > h1 {
  color: #1c242b;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.tags {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.3;
  margin: 30px 0;
  text-align: center;
}

.articlesList {
  width: 95%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 30px;
  padding-right: 0;
}

.articlesList > li {
  flex-basis: 40%;
  flex-grow: 1;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
}

@media (max-width: 992px) {
  .hero {
    height: 250px;
  }

  .hero h1 {
    font-size: 45px;
  }

  .articlesList > li h2 {
    font-size: 26px;
  }

  .articlesList {
    padding: 20px;
    padding-right: 0;
  }

  .articlesList > li {
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 680px) {
  .Links {
    display: block;
    padding: 10px 5%;
  }

  .articlesList {
    display: block;
    padding: 30px 10px;
  }

  .articlesList > li {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
